---
layout: default
title: "chirp, chirp"
description: "Links & Random Thoughts."
permalink: /microblog/
---

<ul class="article-list">
  {% for post in site.microblog reversed %}

    <li class="article-list-item ">
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
        <h5>
          {{ post.title }}
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right">
  <use href="/assets/arrow-right-05feb9da52810d15348895a9a885c61803f4d2ae681b4fc442b285fef184dd2b.svg#icon-arrow-right" xlink:href="/assets/arrow-right-05feb9da52810d15348895a9a885c61803f4d2ae681b4fc442b285fef184dd2b.svg#icon-arrow-right"></use>
</svg>

        </h5>
      </a>
      <p>
        {% if post.description %}
          {{ post.description }}  
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </p>
      <div class="article-list-footer">
        <span class="article-list-date">
          {{ post.date | date: "%B %-d, %Y" }}
        </span>
        <span class="article-list-divider">-</span>
        <span class="article-list-minutes">
          
          
          {% capture words %}
            {{ post.content | number_of_words }}
          {% endcapture %}
          {% unless words contains "-" %}
            {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
          {% endunless %}
          
        </span>
        <span class="article-list-divider">-</span>
        <div class="article-list-tags">
          
          {% for tag in post.tags %}
            <a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a>
          {% endfor %}
          
        </div>
      </div>
    </li>

  {% endfor %}
  {% if paginator.total_pages > 1 %}
  
  
    <li class="article-pagination ">

{% if paginator.next_page %}

        <a href="{{ paginator.next_page_path }}" class="article-pagination-left"><svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-left">
  <use href="/assets/arrow-left-3fbaf3633c5b37e961028aa1ab5a308806edebadcfc1f9f0b30bcf35c3a4fb8c.svg#icon-arrow-left" xlink:href="/assets/arrow-left-3fbaf3633c5b37e961028aa1ab5a308806edebadcfc1f9f0b30bcf35c3a4fb8c.svg#icon-arrow-left"></use>
</svg>
 Older posts</a>
{% endif %}
    
{% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts<svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right">
  <use href="/assets/arrow-right-05feb9da52810d15348895a9a885c61803f4d2ae681b4fc442b285fef184dd2b.svg#icon-arrow-left" xlink:href="/assets/arrow-right-05feb9da52810d15348895a9a885c61803f4d2ae681b4fc442b285fef184dd2b.svg#icon-arrow-right"></use>
</svg> </a>
{% endif %}

    </li>
   {% endif %}
 
</ul>

