<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

	<title>jb&hellip;&nbsp;{{ page.title }}</title>
    <meta name="description" content="a weblog by Jonathan Buys" />
    <meta name="author" content="Jonathan Buys" />
    <meta name="viewport" content=width=device-width />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/colorful.css" />
    <link rel=alternate type=application/rss+xml title=RSS href=https://jonathanbuys.com/atom.xml />
    <link rel=alternate type=application/json title="inessential.com feed" href=https://jonathanbuys/feed.json />
</head>
<body>