<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>jb… | </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://localhost:4000/">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="jb…">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://localhost:4000/">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">

  
    <meta property="og:image" content="http://localhost:4000/assets/og-image-ee46bbc61b334e821e81534b1fd43f3fee6f020ec174b3c2114445695fd48c01.jpg">
    <meta name="twitter:image" content="http://localhost:4000/assets/og-image-ee46bbc61b334e821e81534b1fd43f3fee6f020ec174b3c2114445695fd48c01.jpg">
  

  <link href="http://localhost:4000/atom.xml" type="application/rss+xml" rel="alternate" title="jb… Last 10 blog posts" />

  

  

    
      <link rel="icon" type="image/x-icon" href="/assets/favicon-light-212606391baaa7b16463b92b3c519b56832ab53456441e045807984cad648a1e.ico">
      <link rel="apple-touch-icon" href="/assets/apple-touch-icon-light-87d1f2a3a19b1500e5c1626a0492025ca5f7f97d24540dc5900288e92112925a.png">
      <link rel="stylesheet" type="text/css" title="light" id="light" href="/assets/light-7f522908aad16b87e703f470834aceb4a7ff176aa3d0ea38bc79efa11ac38c6d.css">
      <link rel="stylesheet" type="text/css" title="dark" id="dark" href="/assets/dark-02e2f267b21f6c4c71f528ac48c0e6b6680d4c968ac2a5fa52e4f416874e52a4.css" disabled="true">
    

  
  
</head>
