<div class="sidenav">
<!--     <header> -->
<a href="/">jb…</a>
<p>a weblog by Jonathan Buys</p>
<ul>
  <li><a class="navbar-link" href="/">Page One</a></li>
  <li><a class="navbar-link" href="/archive/">Archives</a></li>
  <li><a class="navbar-link" href="/best/">Start Here</a> </li>
  <li><a class="navbar-link" href="/contact/">Contact</a></li>
  <li><a class="navbar-link" href="/colophon/">Colophon</a></li>
  <li><a class="navbar-link" href="/microblog/">Chirp, Chirp </a></li>
</ul>
<!--     </header> -->
</div>