<!-- 
    <nav>
        <a href="/">home</a> |
        <a href="/about/">about</a> |
        <a href="/archive/">archive</a> |
        <a href="/atom.xml">rss</a> |
    </nav>

 -->

<!-- 
    <nav class="navbar">
      <div class="container">
          <a class="navbar-link" href="/">Page One</a>
          <a class="navbar-link" href="/archive/">Archives</a>
          <a class="navbar-link" href="/best/">Start Here</a> 
          <a class="navbar-link" href="/contact/">Contact</a>
          <a class="navbar-link" href="/about/">Colophon</a>
          <a class="navbar-link" href="/microblog/">Chirp, Chirp </a>
      </div>
    </nav>
 -->
