body{
	margin-top: 0;
	padding: 0;
	padding-bottom: 1px;
	line-height: 35px;
	font-size: 21px;
	font-family:  Palatino, Georgia, Times, "Times New Roman", serif;
    color: #30343e;
	background-color: white;
    border-top: 3px solid #878787;
    word-wrap: break-word; /* from marco.org */
}

a.header:link, a.header:visited{
	text-decoration: none;
	color: #F87531;
}

a.header:hover{
	text-decoration: none;
	color: red;
}

a:link, a:visited{
	text-decoration: none;
	color: #F87531;
}

a:hover{
	text-decoration: none;
	color: #F87531;
}

h1{
	color: #808080;
}

h3{
	color: #808080;
}

.thin_line { 
	border-top: 1px solid #999; 
}

.smalldate {
	
	font-size: 0.8em;
	text-align: right;
	padding-bottom: 1px;
}

img{
	border: 0;
	display: block;
    margin-left: auto;
    margin-right: auto 
    
}

img.docenter {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

img.fullwidth {
    width: 200%;
    margin: 0px 0 0 -50%;
    position: relative;
    display: block;
}

#sidebar {
  float: left;			
}

section {
    /*
    position: relative;
    display: block;
    width: 620px; 
    margin: 0 auto;
    */
    float: right;
	max-width: 700px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
    
}

article {
	padding-bottom: 8em;
}

footer {
    float: clear;
	font-size: 14px;
	margin-top: 14em;
	margin-left: auto ;
	margin-right: auto ;
	padding:  0px;
	border: 0px solid gray;
	text-align: center; 
	position: relative; 
	background-color: transparent;
}


/*#jb_logo {
    background: transparent;
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    border:3px transparent;
    vertical-align: left;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 15px;
}*/



#content sup, sub { 
  vertical-align: 0ex;
  position: relative; }
#content sup { bottom: 1ex; }
#content sub { top: 0.8ex; }
    
/* 240-pixel layout for iPhone-sized screens */
@media (max-width: 520px) {
    section { width: 300px; }

    header {
        width: 100%;
    }
    
    body {
        font-size: 17px;
        line-height: 21px;
    }

    img {
        max-width:100%;
        height:auto;
    }

}

pre {
        border:1px dashed #E1E1E1;
        color:#333344;
        background:#FAFAFA;
        font-family:monospace;
        overflow:auto;
        font-size:0.8em;
        padding:0.5em;
}


blockquote p {
  padding: 0px 15px 0px 0px;
  font-size: 0.5em;    
}

blockquote li {
  font-size: 0.5em;    
}

blockquote {
  padding: 20px;
  font-size: 1.8em;    
}

cite {
  font-size: 1.0em;
  float: right;    
}




.bbpBox {
  width: 80%;
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25em;
}

.bbpBox blockquote {
  font-size: 110%;
  background-color: white;
  margin: 0em !important;
  padding: .5em 1em .5em 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}

.bbpBox blockquote a {
  color: blue;
  text-decoration: none;
}

.bbpBox blockquote a:hover {
  text-decoration: underline;
}

.bbpBox blockquote .twMeta {
  font-size: 80%;
}

.bbpBox blockquote .twAuthor {
  font-family: Sans-serif;
  font-size: 80%;
  color: #aaa;
  margin-top: 0em;
  padding-top: .75em;
  border-top: solid 1px #aaa;
}

.bbpBox blockquote .twDate {
  font-family: Sans-serif;
  font-size: 60%;
  text-align: right;
}

.bbpBox blockquote .twAuthor img {
  float: left;
  margin-right: .5em;
  height: 2.5em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

